<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fontes-->
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&family=Quicksand:wght@300;400;500&display=swap"
        rel="stylesheet">

    <!--Icones-->

    <link rel="icon" type="image/png" sizes="32x32" href="front/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="front/images/icons/favicon-16x16.png">
    <title>X | Cadastro</title>

    <!--BOOTSTRAP-->
    <link rel="stylesheet" href="/bootstrap-4.5.3/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="/front/Codigo/cadastro.js"></script>
    <script type="text/javascript" src="/bootstrap-4.5.3/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bootstrap-4.5.3/dist/js/jquery-3.5.1.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/front/styles/main.css">

</head>


<body class="bg-light" id="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand type" href="/front/views/index.html">
            <img src="/front/images/icons/arrow-bar-left.svg" width="30" height="30" alt="Voltar" loading="lazy"> Voltar
        </a>
        <a href="/front/views/login.html" class="navbar-brand type">Login
            <img src="/front/images/icons/arrow-bar-right.svg" width="30" height="30" alt="" loading="lazy" alt="Login">
        </a>
    </nav>

    <div class="container d-flex">
        <div class="parte-inicial">
            <img class="d-block mx-4 my-2" src="/front/images/icons/ICONE.png" alt="icone" width="72" height="72">
            <h2>Cadastro</h2>
        </div>
    </div>

    <div class="containerpai pl-5">
        <div class="col-md-8 order-md-1">
            <form class="needs-validation pb-5" id="myForm" novalidate>
                <div class="row mb-3">
                    <label for="validationCustom01">Nome</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Seu nome" value="" required="">
                    <div class="invalid-feedback">
                        É obrigatório o Nome!
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="user">Nome de usuário</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="username" placeholder="User" required="">
                        <div class="invalid-feedback" style="width: 100%;">
                            É obrigatório o nome de usuário!
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="Celular">Número de Telefone</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="cellphone" placeholder="Celular" required="">
                        <div class="invalid-feedback" style="width: 100%;">
                            É obrigatório o nome de usuário!
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="cpf">CPF</label>
                    <input type="text" class="form-control" id="cpf" placeholder="123.456.789-10">
                    <div class="invalid-feedback">
                        Insira um CPF válido!
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="senha">Senha</label>
                    <input type="password" class="form-control" id="senha" placeholder="Senha">
                    <div class="invalid-feedback">
                        Defina uma senha!
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com">
                    <div class="invalid-feedback">
                        É obrigatório um email válido!
                    </div>
                </div>

                <!-- <div class="dropdown-divider"></div>

                <div class="container pt-2 pb-2">
                    <h3>Endereço</h1>
                </div>


                <div class="row mb-3">
                    <label for="address">Rua</label>
                    <input type="text" class="form-control" id="address" placeholder="Rua X" required="">
                    <div class="invalid-feedback">
                        É obrigatório um endereço válido!
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="address2">Bairro</label>
                    <input type="text" class="form-control" id="address2" placeholder="Bairro X">
                </div>

                <div class="row mb-3">
                    <label for="address3">Número</label>
                    <input type="number" class="form-control" id="address3" placeholder="123">
                </div>

                <div class="row mb-3">
                    <label for="address4">Complemento</label>
                    <input type="text" class="form-control" id="address4" placeholder="Apartment or suite">
                </div>

                <div class="row mb-3">
                    <label for="address5">Cidade</label>
                    <input type="text" class="form-control" id="address5" placeholder="Rio de Janeiro">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label for="country">País</label>
                        <select class="custom-select d-block w-100" id="country" required="">
                            <option value="">Escolha</option>
                            <option>Brasil</option>
                        </select>
                        <div class="invalid-feedback">
                            Por favor, insira um país
                        </div>
                    </div>
                    <div class="row col-md-4 mb-3">
                        <label for="state">UF</label>
                        <select class="custom-select d-block w-100" id="state" required="">
                            <option value="">Escolha</option>
                            <option>RO</option>
                            <option>AC</option>
                            <option>AM</option>
                            <option>RR</option>
                            <option>PA</option>
                            <option>AP</option>
                            <option>TO</option>
                            <option>MA</option>
                            <option>PI</option>
                            <option>CE</option>
                            <option>RN</option>
                            <option>PB</option>
                            <option>PE</option>
                            <option>AL</option>
                            <option>SE</option>
                            <option>BA</option>
                            <option>MG</option>
                            <option>ES</option>
                            <option>RJ</option>
                            <option>SP</option>
                            <option>PR</option>
                            <option>SC</option>
                            <option>RS</option>
                            <option>MS</option>
                            <option>MT</option>
                            <option>GO</option>
                            <option>DF</option>

                        </select>
                        <div class="invalid-feedback">
                            Por favor, insira um Estado
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">CEP</label>
                        <input type="text" class="form-control" id="zip" placeholder="99999-99" required="">
                        <div class="invalid-feedback">
                            Insira um CEP válido
                        </div>
                    </div>
                </div> -->
                <button class="btn btn-dark btn-block" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>

    <style>
        .type {
            font: #000000;
        }
    </style>
</body>

</html>